.single-product {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-img {
    height: 200px;
    object-fit: cover;
}

.badge-custom {
    background-color: #1bc400;
    color: #ffffff;
}
