.single-product {
    border: 1px solid #e0e0e0; /* Рамка для карточек */
    border-radius: 10px; /* Закругленные углы */
    height: 100%; /* Занимает всю высоту */
    display: flex;
    flex-direction: column; /* Вертикальное размещение */
}

.card-img-top {
    max-width: 100%; /* Ограничение ширины изображения */
    max-height: 200px; /* Максимальная высота для изображений */
    object-fit: cover; /* Сохранение пропорций */
    margin: 0 auto; /* Центрирование изображения */
}
