
.single-product {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #ffffff;
}


.product-details {
    flex-grow: 1;
    margin-bottom: 10px;
}


.product-card .buttons {
    display: flex;
    flex-direction: column;
}


.badge-custom {
    background-color: #198754;
    color: #ffffff;
}

.pagination .page-item .page-link {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.footer {
    background-color: #f8f9fa;
    color: #6c757d;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}
